.form__button-submit {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 0 auto 2rem auto;
  padding: 1rem;
}

.form__button-submit:hover {
  opacity: 0.75;
  cursor: pointer;
}
